*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100vw;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

:root {
    --StrongCyan: hsl(171, 66%, 44%);
    --bStrongCyan: hsl(171, 66%, 37%);
    --lStrongCyan: hsla(171, 66%, 44%, 0.7);
    --LightBlue: hsl(233, 100%, 69%);
    --bLightBlue: hsl(233, 58%, 56%);
    --lLightBlue: hsla(233, 100%, 69%, 0.7);
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}

.container {
    width: 92%;
    margin: auto;
    text-align: center;
}

h1, h2, h3 {
    color: var(--DarkGrayishBlue);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.9rem;
    margin-bottom: 0.7em;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 0.7em;
}

p {
    color: var(--GrayishBlue);
}

.sec1 img, .sec2 img {
    width: 100%;
}

/* header */

header {
    margin-bottom: 10em;
}

.logo {
    margin-top: 6em;
    margin-bottom: 3em;
}

.header-txt h1 {
    margin-bottom: 0.5em;
}

.header-txt p {
    max-width: 35em;
    margin: auto;
    margin-bottom: 2.5em;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.button {
    text-decoration: none;
    padding: 0.8em;
    margin: auto;
    width: 16em;
    border-radius: 10em;
    color: white;
    transition: background-color 200ms;
}

.button1 {
    background-color: var(--StrongCyan);
    border-bottom: 0.25em solid var(--bStrongCyan);
    box-shadow: 0px 10px 15px -10px var(--StrongCyan);
}

.button2 {
    background-color: var(--LightBlue);
    border-bottom: 0.25em solid var(--bLightBlue);
    box-shadow: 0px 10px 15px -10px var(--LightBlue);
}

/* section one */

.sec1 {
    margin-bottom: 10em;
}

.track p {
    margin: auto;
    max-width: 40em;
    margin-bottom: 3.75em;
}

.sec1-img {
    margin-bottom: 3.5em;
}

.sec1-txt p {
    max-width: 22em;
    margin-bottom: 3em;
}

/* section two */

.sec2 {
    margin-bottom: 5em;
}

.access p {
    margin: auto;
    margin-bottom: 3.75em;
    max-width: 45rem;
}

/* section three */

.sec3 {
    margin-bottom: 10em;
}

.workflow p {
    margin-bottom: 4em;
}

.sec3-txt img {
    margin-bottom: 2em;
}

.sec3-txt p {
    max-width: 22em;
    margin: auto;
    margin-bottom: 3em;
}

/* sponserd */

.sponserd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-bottom: 9em;
}

/* section four */

.sec4 {
    margin-bottom: 9em;
}

.sec4-txt p {
    max-width: 40em;
    margin: auto;
    margin-bottom: 2.5em;
}

/* footer */

footer {
    text-align: center;
    background-color: whitesmoke;
}

.footer-logo img {
    width: 3.5em;
    margin: 2.5em 0 1.5em 0;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2.5em;
}

.footer-list a {
    text-decoration: none;
    color: var(--DarkGrayishBlue);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 2.5em;
}

.button1:hover {
    background-color: var(--lStrongCyan);
    border-color: var(--lStrongCyan);
}

.button2:hover {
    background-color: var(--lLightBlue);
    border-color: var(--lLightBlue);
}

/* responsive */

@media (min-width: 640px) {

    body {
        background-image: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    h1 {
            font-size: 2.5rem;
        }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    /* header */

    .buttons {
        margin: auto;
        max-width: 35em;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    /* section one */

    .sec1-flex {
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 6em;
    }

    .sec1-txt {
        width: 50%;
    }

    .sec1-img {
        width: 50%;
        margin-left: -6em;
    }

    /* section two */

    .sec2-img img {
        width: 60%;
    }

    /* section three */

    .sec3-txt {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 1em;
    }

    .sec3-txt > div {
        width: 30%;
        min-width: 15em;
    }

    /* sponserd */

    .sponserd {
        flex-direction: row;
        gap: 7em;
        flex-wrap: wrap;
    }

    /* footer */

    footer {
        padding: 3em;
        display: flex;
    }

    .footer-list {
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        width: 60%;
        height: 100%;
    }

    .footer-list a {
        width: 30%;
    }

    .social {
        width: 20%;
        height: 100%;
        margin: 0;
        gap: 1em;
        justify-content: flex-end;
    }

    .footer-logo {
        width: 20%;
        height: 100%;
    }

    .footer-logo img {
        margin: 0;
    }
}